/html/vendor/
/html/register/.env
/html/.env
.env
html/setting.json
html/kitchenUI/himari/1番.wav
html/kitchenUI/himari/2番.wav
html/kitchenUI/himari/3番.wav
html/kitchenUI/himari/4番.wav
html/kitchenUI/himari/5番.wav
html/kitchenUI/himari/6番.wav
html/kitchenUI/himari/7番.wav
html/kitchenUI/himari/8番.wav
html/kitchenUI/himari/9番.wav
html/kitchenUI/himari/10番.wav
html/kitchenUI/himari/お呼び出しします.wav
html/kitchenUI/himari/お料理が完成いたしました.wav
html/kitchenUI/himari/のお客様.wav
html/kitchenUI/himari/注文番号.wav
