.semipolar-spinner,
.semipolar-spinner * {
    box-sizing: border-box;
}

.semipolar-spinner {
    height: 300px;
    width: 300px;
    position: relative;
}

.spinner-container {
    display: flex;
    justify-content: center;
}

.semipolar-spinner .ring {
    border-radius: 50%;
    position: absolute;
    border: calc(300px * 0.05) solid transparent;
    border-top-color: Turquoise;
    border-left-color: Tomato;
    animation: semipolar-spinner-animation 2s infinite;
}

.semipolar-spinner .ring:nth-child(1) {
    height: calc(300px - 300px * 0.2 * 0);
    width: calc(300px - 300px * 0.2 * 0);
    top: calc(300px * 0.1 * 0);
    left: calc(300px * 0.1 * 0);
    animation-delay: calc(2000ms * 0.1 * 4);
    z-index: 5;
}

.semipolar-spinner .ring:nth-child(2) {
    height: calc(300px - 300px * 0.2 * 1);
    width: calc(300px - 300px * 0.2 * 1);
    top: calc(300px * 0.1 * 1);
    left: calc(300px * 0.1 * 1);
    animation-delay: calc(2000ms * 0.1 * 3);
    z-index: 4;
}

.semipolar-spinner .ring:nth-child(3) {
    height: calc(300px - 300px * 0.2 * 2);
    width: calc(300px - 300px * 0.2 * 2);
    top: calc(300px * 0.1 * 2);
    left: calc(300px * 0.1 * 2);
    animation-delay: calc(2000ms * 0.1 * 2);
    z-index: 3;
}

.semipolar-spinner .ring:nth-child(4) {
    height: calc(300px - 300px * 0.2 * 3);
    width: calc(300px - 300px * 0.2 * 3);
    top: calc(300px * 0.1 * 3);
    left: calc(300px * 0.1 * 3);
    animation-delay: calc(2000ms * 0.1 * 1);
    z-index: 2;
}

.semipolar-spinner .ring:nth-child(5) {
    height: calc(300px - 300px * 0.2 * 4);
    width: calc(300px - 300px * 0.2 * 4);
    top: calc(300px * 0.1 * 4);
    left: calc(300px * 0.1 * 4);
    animation-delay: calc(2000ms * 0.1 * 0);
    z-index: 1;
}

@keyframes semipolar-spinner-animation {
    50% {
        transform: rotate(360deg) scale(0.7);
    }
}


a.btn1 {
    color: #fff;
    background-color: #00bfff;
    border-bottom: 5px solid #1e90ff;
}

a.btn1:hover {
    margin-top: 3px;
    color: #fff;
    background: #00bfff;
    border-bottom: 2px solid #1e90ff;
}

a.btn2 {
    color: #fff;
    background-color: #7fff00;
    border-bottom: 5px solid #00ff00;
}

a.btn2:hover {
    margin-top: 3px;
    color: #fff;
    background: #7fff00;
    border-bottom: 2px solid #00ff00;
}

a.shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}


.btn{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
}

.btn1{
    color: #fff;
    background-color: #00bfff;
}

.btn1:hover{
    color: #fff;
    background: #00bfff;
}

.btn2{
    color: #fff;
    background-color: #7fff00;
}

.btn2:hover{
    color: #fff;
    background: #7fff00;
}

.btnspace{
    text-align: center;
    margin-top: 10%;
}

.dli-check-circle {
    display: inline-block;
    vertical-align: middle;
    color: #00ccff;
    line-height: 1;
    position: relative;
    width: 20em;
    height: 20em;
    border: 2em solid currentColor;
    border-radius: 50%;
    box-sizing: content-box;
  }
  
  .dli-check-circle > span {
    width: 11.6em;
    height: 5.22em;
    border: 2em solid currentColor;
    border-top: 0;
    border-right: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(-45deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .circle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }