:root{
    --h1-font-size:calc(56px + 1vw);
    --h2-font-size:calc(36px + 1vw);
    --grid-object:repeat(7, 1fr);
}

h2{
    text-align: center;
    font-size: var(--h2-font-size);
    margin-top: -1px;
    margin-bottom: -5px;
}

h1{
    text-align: center;
    font-size: var(--h1-font-size);
    margin:0;
}
.container {
    display: flex;
    justify-content: space-between;
    .list {
        display:block;
    }
    .border{
        width: 45%;
        padding: 10px;
        height: 100%;
        margin-bottom: 0;
    }
    li{
        font-weight: bold;
        margin-bottom: -2.5vh;
        width: 100%;
        text-align: center;
    }
    hr{
        width: 90%;
    }
    .textborder1{
        border:solid 1px black;
        background-color: gray;
        color:white;
        padding-bottom:1%;
    }
    
    .textborder2{
        border:solid 1px black;
        background-color: green;
        color:white;
        padding-bottom:1%;
    }
    
    #cooking-list{
        color:gray;
    }
    
    #done-list{
        color:green;
    }
}

.container1 {
    display: flex;
    justify-content: center;
    .list {
        display:block;
    }
    .border{
        width: 90%;
        padding: 10px;
        height: 80vh;
    }
    ul{
        padding-left: 0;
    }
    li{
        font-weight: bold;
        margin-bottom: -2.5vh;
        width: 100%;
        text-align: center;
    }
    
    hr{
        width: 90%;
    }
    
    .textborder1{
        border:solid 1px black;
        background-color: gray;
        color:white;
        padding-bottom:1%;
    }
    
    .textborder2{
        border:solid 1px black;
        background-color: green;
        color:white;
        padding-bottom:1%;
    }
    
    #cooking-list{
        color:gray;
    }
    
    #done-list{
        color:green;
    }
}

.container2 {
    display: flex;
    justify-content: center;
    .list {
        display:block;
    }
    .border{
        width: 90%;
        padding: 10px;
        height: 80vh;
    }
    ul{
        padding-left: 0;
    }
    li{
        font-weight: bold;
        margin-bottom: -2.5vh;
        width: 100%;
        text-align: center;
    }

    hr{
        width: 90%;
    }

    .textborder1{
        border:solid 1px black;
        background-color: gray;
        color:white;
        padding-bottom:1%;
    }

    .textborder2{
        border:solid 1px black;
        background-color: green;
        color:white;
        padding-bottom:1%;
    }

    #cooking-list{
        color:gray;
    }

    #done-list{
        color:green;
    }
}

ul{
    display: grid;
    grid-template-rows: var(--grid-object);
    grid-auto-flow: column;
    list-style: none;
    padding-left: 0;
}

li{
    font-size: calc(40px + 3vw);
}